// // -----> Reset <-----

body {
    font-family: 'Bebas Neue', cursive;
    margin:0;
    padding: 0;
}
//     // background-image: url('img/bg.jpg');
//     // background-size: cover;

    h1,h2,h3,h4,h5,h6 {
        text-transform: uppercase;
        color: rgb(60, 60, 60);
    }

    a{
        color: rgb(60, 60, 60);
        text-decoration: none;
    }

    .logo {
        font-size: 30px;
        margin-right: 100px;
    }

    .redFont{
        color: rgb(138, 24, 24);
    }
