@mixin mainPadding {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px grey solid;
}

main {
    padding-top: 100px;
    h2 {
        font-size: 16px;
    }
    h3 {
        color: gray !important;
    }
    p{
        font-size: 14px;
    }
        #about{
            @include mainPadding();
            color: rgb(60, 60, 60);
            h1{
                display:flex;
                font-size: 30px;
            }
            span {
                margin-left: 10px;
            }

        }
        #experience{
            @include mainPadding();
        }
        #formation{
            @include mainPadding();

        }
        #compétences{
            @include mainPadding();
        }
        #centreInteret{
            @include mainPadding();
        }

}


.menu-open {
    padding-top: 235px !important;
    transition: padding-top 0.3s ease-in-out;
}