header {
    // position: fixed;
    // width: 100%;
    nav {
        position: fixed !important;
        width: 100%;
        background-color: rgb(138, 24, 24);

        a {
            color: rgba(250, 235, 215, 0.751) !important;
            text-align: center;
                &:hover {
                    color: white !important;
            }
        }

        .navbar-toggler {
            color: rgba(250, 235, 215, 0.751) !important;
        }

        .navbar-toggler-icon {
            color: rgba(250, 235, 215, 0.751) !important;
        }

        .photo {
            width: 50px;
            border: 4px solid rgba(250, 235, 215, 0.751);
            border-radius: 50%;
            margin: 10px;
            margin-left: 2rem;
        }
    }
}